:root {
  --background: hsl(0, 0%, 90%);
  --outputBackground: hsl(0, 0%, 93%);
  --outputColor: white;
  --mainKeyColor: hsl(223, 31%, 20%);
  --mainKeyBackground: rgba(255, 255, 255, 0.838);
  --actionKeyBackground: hsl(225, 21%, 49%);
  --equalKeyBackground: hsl(6, 63%, 50%);
  --actionKeyColor: white;
  --equalKeyColor: white;
  --keyBackground: hsl(30, 25%, 89%);
  --textColor: hsl(221, 14%, 31%);
}
